body {
    background-color: rgb(252, 197, 178);
}

.centeredContainer {
    position: absolute;
    background-color: rgb(247, 159, 208);
    top: 50%;
    left: 50%;
    height: 640px;
    width: 1100px;
    margin-top: -320px;
    margin-left: -550px;
    border: 15px rgb(171, 194, 212) solid;
    border-radius: 40px;
}

.container {
    text-align: center;
}

.buttons {
    position: relative;

    color: rgb(116, 0, 211);

    font-size: 60px;
    font-family: monospace;    font-weight: 900;

    background-color: rgb(252, 197, 178);
    border: 5px solid rgb(171, 194, 212);
    border-radius: 20px;
    outline: none;

    width: 300px;
    height: 200px;
    padding: 2%;
    margin: 20px;

    transition-duration: 0.4s;
    box-shadow: 0 0 0  rgb(171, 194, 212);
}

.buttons:hover {
    box-shadow: 0 0 0 5px rgb(171, 194, 212);
}


.winner, .scoreHeader, .score {
    color: rgb(116, 0, 211);
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: monospace;}

.matchWinner {
    color: rgb(116, 0, 211);
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
    font-family: monospace;}

.header {
    color: rgb(116, 0, 211);
    margin: 20px;
    font-size: 70px;
    font-weight: 900;
    font-family: monospace;
}